.main{
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    background-color:#FFFF;
}

.monthyearpicker{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
}